/*FONT imports*/
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* main styles */
html,
body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
section{
    width: 100%;
    position: relative;
}

:root{
    --primaryColor: #219ebc;
    --secondayColor: #fb8500;
    --headingFont:"LeagueGothic-Regular", "Oswald",sans-serif;
    --normalFont:'Poppins', sans-serif;
    /* --headingFont:'Josefin Sans', sans-serif; */
}


/*navbar styles*/


nav{
	width: 100%;
	padding:2px 0;
	background:#ecf0f3;
	box-shadow: -3px -3px 7px #ffffff,
            3px 3px 5px #ceced1;
            font-family: var(--normalFont);
}
     

nav .menu{
	max-width:1270px;
	margin:auto;
	padding:0 20px;
	display:flex;
	justify-content:space-between;
	align-items:center;
      
	
	
}

.menu .logo a{
	font-size:28px;
	font-weight:600;
	text-decoration:none;
	color:#31344b;
}

.menu ul{
	list-style:none;
	display:flex;
       
     
}

.menu ul a{
	margin:0 8px;
	text-decoration:none;
	font-size:18px;
	color:#31344b;
	font-weight:400;
	display:inline-flex;
	padding:10px 12px;
	box-shadow: -3px -3px 7px #ffffff,
            3px 3px 5px #ceced1;
	position:relative;
	transition: color 0.2s ease-out, transform 0.2s ease-out;
       border-radius:10px 10px; 
	
}


.menu ul a:hover{
	color:var(--secondayColor);
    transform: scale(1.05);
    box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1), -4px -4px 10px rgba(255,255,255,1);
}

.menu ul a:focus{
    outline: none;
      transform: scale(0.95);
      box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1), -4px -4px 10px rgba(255,255,255,1), 4px 4px 10px 0 rgba(0,0,0,.1) inset, -4px -4px 10px rgba(255,255,255,1) inset;
}



/*home styles*/





/* About Us Styles */





/* Events Styles */

.events{
    height:100%;
    text-align:center;
    font-family: var(--headingFont);
}

.events_heading h1{
    font-size:3rem;
    text-shadow: -3px 3px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
/* .events_heading h1:hover{
    color: var(--secondayColor);
    transform: translate3d(0, -10px, 22px);
}
.events_heading .starting_letter{
    color:var(--secondayColor);
} */
