/*FONT imports*/
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

/* main styles */
html,
body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
section{
    width: 100%;
    position: relative;
}

:root{
    --primaryColor: #219ebc;
    --secondayColor: #fb8500;
    --headingFont:"LeagueGothic-Regular", "Oswald",sans-serif;
}

/*navbar styles*/
.navbar{
    height:4rem;
    background-color: var(--primaryColor);
}



/*home styles*/





/* About Us Styles */





/* Events Styles */

.events{
    height:100%;
    text-align:center;
    font-family: var(--headingFont);
}

.events_heading h1{
    font-size:3rem;
    text-shadow: -3px 3px 0px rgba(0, 0, 0, 0.2);
}
.events_heading .starting_letter{
    color:var(--secondayColor);
}