@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
   
}

body{
    font-family: 'Poppins', sans-serif;
    background:white;
}

::-webkit-scrollbar {
    width: 0.3rem;
  }
  
  ::-webkit-scrollbar-track {
    background: #404040;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to right bottom, #fd8721, #c34915);
  }
 
  /* Webpage Layout */

.header img{
   
    margin: 0;
    background-size: cover;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 20px;
    width: 100%;
    
}



.yo{
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

.yo li{
    float: left;
}

.yo li a, .a2 a{
    color: whitesmoke;
    text-transform: capitalize;
    padding: 10px 20px;
    display: block;
    font-size:22px;
    text-decoration: none;

}

li a:hover , .a1:hover .a2{
    background: red;
    transition: .4s;
}

.a1{
    display: block;
}

.a3{
    position: absolute;
    display:none ;
    text-decoration: none;
    min-width: 110px;
    z-index: 1;
    box-shadow: 0px 1px 1px 0px rgba(58, 50, 50, 0.281);
}

.a3 a{
    background: greenyellow;
    display: block;
    padding: 10px;

}

.a1:hover .a3{
    display: block;
}

.lc{
    width: 60%;
    float: left;

}

.rc{
    width: 39%;
    float: left;
    padding-left:10px;
  }

.card{
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
              /* 2. shadow ring 👇 */
              0 0 0 1px hsla(230, 13%, 9%, 0.075),
              /* 3. multiple soft shadows 👇 */
              0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
              0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
              0 3.5px 6px hsla(230, 13%, 9%, 0.09);
  width: 100%;
  height: auto;
margin: 5px;
  border-radius: 12px;
  padding: 20px;
  overflow: hidden;
  display: flex;
}




.row::after{
    display: table;
    clear: both;
    content:"";
}


.row {
  display: flex;
}

@media (max-width: 500px) {
  .row {
    flex-direction: column;
  }
  .lc {
    order: 2;
  }
  
  .rc {
    order: 1;
  }
}




@media screen and (max-width:800px){
    .rc, .lc{
        width: 95%;
        padding: 0;
    }
}

@media screen and (max-width:500px){
    .yo li{
        float: none;
        width: 100%;
        text-align: center;
    }
    .a3{
        min-width: 85%;
        text-align: left;

    }
}



.image-card {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    position: relative;
    background-size: cover;  
}

.content-info{
    padding: 20px;
    line-height: 200%;
    margin-top: -2%;
}
.content-info h1{
    padding-bottom: 5%;
    color: #219ebc;
    margin-top: 3%;
}
.timing{
    font-size: 130%;
}
.location{
    font-size: 130%;
}

.location i{
    padding-right: 10px;
}
.timing i {
    padding-right: 10px;
}

@media screen and (max-width:500px){
    .content-info{
        font-size: 65%;
        line-height: 250%;
    }
    
}




.history-tl-container{
    font-family: "Roboto",sans-serif;
  width:100%;
  margin:auto;
  display:block;
  position:relative;
}
.history-tl-container ul.tl{
    margin:20px 0;
    padding:0;
    display:inline-block;

}
.history-tl-container ul.tl li{
    list-style: none;
    margin:auto;
    margin-left:10px;
    min-height:50px;
    /*background: rgba(255,255,0,0.1);*/
    border-left:1px dashed #86D6FF;
    padding:0 0 10px 30px;
    position:relative;
}
.history-tl-container ul.tl li:last-child{ border-left:0;}
.history-tl-container ul.tl li::before{
    position: absolute;
    left: -18px;
    top: -1px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: #258CC7;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;

}
.history-tl-container ul.tl li:hover::before{
    border-color:  #258CC7;
    transition: all 1000ms ease-in-out;
}
ul.tl li .item-title{
    font-size: 20px;
}
ul.tl li .item-detail{
    color:rgba(0,0,0,0.5);
    font-size:15px;
    margin-top: 0;
    
}

@media screen and (max-width:500px){
    ul.tl li .item-detail{
        font-size: 150%;
    }
    ul.tl li .item-title{
        font-size: 150%;
    }
}

/* Ranking Table style */


main.table {
    width: 100vw;
    height: auto;
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;
}

.table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    overflow: overlay;
}




table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}



tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}



tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}


@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 10.1rem;
    }
}

/* Image Slider styling starts */
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    }
    .slider-top{
        padding-top: 4rem;
    }
    #slider1_container{
        width: 100%;
        height: auto;
    }
    @keyframes jssorl-009-spin {
    from {
    transform: rotate(0deg);
    }
    
    to {
    transform: rotate(360deg);
    }
    }
    .jssorb031 {position:absolute;}
    .jssorb031 .i {position:absolute;cursor:pointer;}
    .jssorb031 .i .b {fill:#000;fill-opacity:0.5;stroke:#fff;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.3;}
    .jssorb031 .i:hover .b {fill:#fff;fill-opacity:.7;stroke:#000;stroke-opacity:.5;}
    .jssorb031 .iav .b {fill:#fff;stroke:#000;fill-opacity:1;}
    .jssorb031 .i.idn {opacity:.3;}
    .jssora051 {display:block;position:absolute;cursor:pointer;}
    .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
    .jssora051:hover {opacity:.8;}
    .jssora051.jssora051dn {opacity:.5;}
    .jssora051.jssora051ds {opacity:.3;pointer-events:none;}

    .c-checkbox {
        display: none;
      }
      
      .c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form__toggle {
        visibility: hidden;
        opacity: 0;
        transform: scale(0.7);
      }
      .c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form {
        width: 382px;
      }
      .c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) {
        visibility: visible;
        opacity: 1;
      }
      .c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) .c-form__border {
        width: 100%;
      }
      .c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__border,
      .c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__next {
        color: #ff0033;
      }
      .c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) .c-form__input:required:valid ~ .c-form__next {
        pointer-events: initial;
        color: #565656;
      }
      
      .c-checkbox:nth-of-type(2):checked ~ .c-form__progress {
        /* width: calc(100vw / 3); */
      }
      .c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) {
        visibility: hidden;
        opacity: 0;
      }
      .c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) .c-form__border {
        width: 0;
      }
      .c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) {
        visibility: visible;
        opacity: 1;
      }
      .c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) .c-form__border {
        width: 100%;
      }
      .c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__border,
      .c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__next {
        color: #ff0033;
      }
      .c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) .c-form__input:required:valid ~ .c-form__next {
        pointer-events: initial;
        color: #565656;
      }
      
      .c-checkbox:nth-of-type(3):checked ~ .c-form__progress {
        /* width: calc((100vw / 3) + 100vw / 3); */
      }
      .c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) {
        visibility: hidden;
        opacity: 0;
      }
      .c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) .c-form__border {
        width: 0;
      }
      .c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) {
        visibility: visible;
        opacity: 1;
      }
      .c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) .c-form__border {
        width: 100%;
      }
      .c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__border,
       .c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__next {
        color: #ff0033;
      } 
      .c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) .c-form__input:required:valid ~ .c-form__next {
        pointer-events: initial;
        color: #565656;
      }
      .c-checkbox:nth-of-type(4):checked ~ .c-form__progress {
        /* width: calc(100vw / 3); */
      }
      .c-checkbox:nth-of-type(4):checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) {
        visibility: hidden;
        opacity: 0;
      }
      .c-checkbox:nth-of-type(4):checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) .c-form__border {
        width: 0;
      }
      .c-checkbox:nth-of-type(4):checked ~ .c-formContainer .c-form .c-form__group:nth-child(4) {
        visibility: visible;
        opacity: 1;
      }
      .c-checkbox:nth-of-type(4):checked ~ .c-formContainer .c-form .c-form__group:nth-child(4) .c-form__border {
        width: 100%;
      }
      .c-checkbox:nth-of-type(4):checked ~ .c-formContainer .c-form .c-form__group:nth-child(4) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__border,
      .c-checkbox:nth-of-type(4):checked ~ .c-formContainer .c-form .c-form__group:nth-child(4) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__next {
        color: #ff0033;
      }
      .c-checkbox:nth-of-type(4):checked ~ .c-formContainer .c-form .c-form__group:nth-child(4) .c-form__input:required:valid ~ .c-form__next {
        pointer-events: initial;
        color: #565656;
      }

      .c-checkbox:nth-of-type(5):checked ~ .c-form__progress {
        /* width: calc(100vw / 3); */
      }
      .c-checkbox:nth-of-type(5):checked ~ .c-formContainer .c-form .c-form__group:nth-child(4) {
        visibility: hidden;
        opacity: 0;
      }
      .c-checkbox:nth-of-type(5):checked ~ .c-formContainer .c-form .c-form__group:nth-child(4) .c-form__border {
        width: 0;
      }
      .c-checkbox:nth-of-type(5):checked ~ .c-formContainer .c-form .c-form__group:nth-child(5) {
        visibility: visible;
        opacity: 1;
      }
      .c-checkbox:nth-of-type(5):checked ~ .c-formContainer .c-form .c-form__group:nth-child(5) .c-form__border {
        width: 100%;
      }
      .c-checkbox:nth-of-type(5):checked ~ .c-formContainer .c-form .c-form__group:nth-child(5) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__border,
      .c-checkbox:nth-of-type(5):checked ~ .c-formContainer .c-form .c-form__group:nth-child(5) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__next {
        color: #ff0033;
      }
      .c-checkbox:nth-of-type(5):checked ~ .c-formContainer .c-form .c-form__group:nth-child(5) .c-form__input:required:valid ~ .c-form__next {
        pointer-events: initial;
        color: #565656;
      }

      #finish:checked ~ .c-formContainer .c-form {
        transition: opacity 0.2s 0.1s, transform 0.3s;
        opacity: 0;
        transform: translateX(50%) scaleX(0);
      }
      #finish:checked ~ .c-formContainer .c-form .c-form__group:nth-child(5) {
        transition: 0s;
        visibility: hidden;
        opacity: 0;
      }
      #finish:checked ~ .c-formContainer .c-form .c-form__group:nth-child(5) .c-form__border {
        width: 0;
      }
      #finish:checked ~ .c-formContainer .c-welcome {
        opacity: 1;
        
      }
      .popup{
        width: 600px;
        background: #fff;
        border-radius: 6px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.1);
        text-align: center;
        padding: 0 30px 30px;
        color: #333;
        visibility: hidden;
        transition: transform 0.4s, top 0.4s ;
      }
      .open-popup{
        visibility: visible;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
      }
      .popup h2{
        font-size: 40px;
        font-weight: 800;
        margin: 30px 0 10px;
      }
      .popup button{
          width: 50%;
          margin-top: 10px;
          padding: 10px 0;
          background: #3b9df4;
          color: #fff;
          border: 0;
          outline: none;
          font-size: 18px;
          border-radius: 4px;
          cursor: pointer;
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
      }
      
      .c-formContainer {
        width: 180px;
        height: 65px;
        z-index: 1;
        display: flex;
        justify-content: center;
        
      }
      
      .c-welcome {
        position: absolute;
        width: max-content;
        height: inherit;
        font-size: 25px;
        color: #000000;
        opacity: 0;
        transition: 0.3s;
        margin-left: 19rem;
        margin-top: 15px;
      }
      
      .c-form {
        position: relative;
        width: inherit;
        height: inherit;
        background-color: #ffffff;
        box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.2), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
        margin-left: 290px;
    }
      
      .c-form__toggle {
        width: inherit;
        height: inherit;
        font-size: 18px;
        color: #333333;
        cursor: pointer;
        transition: 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @media screen and (max-width:500px){
        .c-form{
          margin-right:73%;
        }
        .c-form__group{
          max-width: 95%;
        }
      }
      .s__option{
        margin-left: 3rem;
      }
      
      
      .c-form__toggleIcon {
        display: inline-block;
        margin-left: 10px;
        position: relative;
        width: 15px;
        height: 17px;
      }
      .c-form__toggleIcon::before, .c-form__toggleIcon::after {
        content: "";
        position: absolute;
        background-color: #565656;
      }
      .c-form__toggleIcon::before {
        left: 50%;
        transform: translateX(-50%);
        width: 9px;
        height: 9px;
        border-radius: 50%;
      }
      .c-form__toggleIcon::after {
        bottom: 0;
        width: 100%;
        height: 7px;
        border-radius: 7px 7px 0 0;
      }
      
      .c-form__group {
        width: 100%;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        padding: 12px 15px;
        box-sizing: border-box;
        transition: 0.2s 0.2s;
        position: absolute;
        margin-right: 210px;
      }
      
      .c-form__label {
        position: relative;
        cursor: pointer;
        width: calc(100% - 40px);
        height: 100%;
        display: flex;
        align-items: flex-end;
      }
      
      .c-form__input {
        font-size: 20px;
        font-family: inherit;
        width: 100%;
        height: 90%;
        border: 0;
        outline: 0;
        color: #333333;
        box-sizing: border-box;
        cursor: pointer;
      }
      .c-form__input:focus ~ .c-form__groupLabel, .c-form__input:not(:placeholder-shown) ~ .c-form__groupLabel {
        font-size: 10px;
        top: -4px;
        transform: translateY(0);
        color: #333333;
      }
      .c-form__input:focus ~ .c-form__border,
      .c-form__input:focus ~ .c-form__next, .c-form__input:not(:placeholder-shown) ~ .c-form__border,
      .c-form__input:not(:placeholder-shown) ~ .c-form__next {
        transition: 0.3s;
      }
      .c-form__input:focus {
        cursor: initial;
      }
      
      .c-form__groupLabel {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.2s;
      }
      
      .c-form__border {
        position: absolute;
        width: 0;
        height: 3px;
        color: #25a3ff;
        background-color: currentColor;
        transition: 1s 0.2s ease-out;
      }
      
      .c-form__next {
        color: #25a3ff;
        position: absolute;
        right: -40px;
        height: 100%;
        width: 40px;
        cursor: pointer;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      
      .c-form__nextIcon {
        position: relative;
        right: 1.5px;
        width: 20px;
        height: 3px;
        background-color: currentColor;
      }
      .c-form__nextIcon::before, .c-form__nextIcon::after {
        content: "";
        position: absolute;
        right: -1.5px;
        width: 15px;
        height: 3px;
        background-color: inherit;
      }
      .c-form__nextIcon::before {
        bottom: -1.5px;
        transform-origin: top right;
        transform: rotate(45deg);
      }
      .c-form__nextIcon::after {
        top: -1.5px;
        transform-origin: bottom right;
        transform: rotate(-45deg);
      }
      
      /* .c-form__progress {
        position: fixed;
        left: 0;
        height: 100%;
        width: 0;
        background-color: #0069ec;
        transition: 0.3s;
      } */



