@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
   
}

body{
    font-family: 'Poppins', sans-serif;
    background:white;
}

::-webkit-scrollbar {
    width: 0.3rem;
  }
  
  ::-webkit-scrollbar-track {
    background: #404040;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to right bottom, #fd8721, #c34915);
  }
 
  /* Webpage Layout */

.header img{
   
    margin: 0;
    background-size: cover;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 20px;
    width: 100%;
    
}



.yo{
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

.yo li{
    float: left;
}

.yo li a, .a2 a{
    color: whitesmoke;
    text-transform: capitalize;
    padding: 10px 20px;
    display: block;
    font-size:22px;
    text-decoration: none;

}

li a:hover , .a1:hover .a2{
    background: red;
    transition: .4s;
}

.a1{
    display: block;
}

.a3{
    position: absolute;
    display:none ;
    text-decoration: none;
    min-width: 110px;
    z-index: 1;
    box-shadow: 0px 1px 1px 0px rgba(58, 50, 50, 0.281);
}

.a3 a{
    background: greenyellow;
    display: block;
    padding: 10px;

}

.a1:hover .a3{
    display: block;
}

.lc{
    width: 60%;
    float: left;

}

.rc{
    width: 39%;
    float: left;
    padding-left:10px;}

.card{
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
              /* 2. shadow ring 👇 */
              0 0 0 1px hsla(230, 13%, 9%, 0.075),
              /* 3. multiple soft shadows 👇 */
              0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
              0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
              0 3.5px 6px hsla(230, 13%, 9%, 0.09);
  width: 100%;
  height: auto;
margin: 5px;
  border-radius: 12px;
  padding: 20px;
  overflow: hidden;
  display: flex;
}




.row::after{
    display: table;
    clear: both;
    content:"";
}




@media screen and (max-width:800px){
    .rc, .lc{
        width: 95%;
        padding: 0;
    }
}

@media screen and (max-width:500px){
    .yo li{
        float: none;
        width: 100%;
        text-align: center;
    }
    .a3{
        min-width: 85%;
        text-align: left;

    }
}



.image-card {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    position: relative;
    background-size: cover;  
}

.content-info{
    padding: 20px;
    line-height: 200%;
    margin-top: -2%;
}
.content-info h1{
    padding-bottom: 5%;
    color: #219ebc;
    margin-top: 3%;
}
.timing{
    font-size: 130%;
}
.location{
    font-size: 130%;
}

.location i{
    padding-right: 10px;
}
.timing i {
    padding-right: 10px;
}

@media screen and (max-width:500px){
    .content-info{
        font-size: 65%;
        line-height: 250%;
    }
    
}




.history-tl-container{
    font-family: "Roboto",sans-serif;
  width:100%;
  margin:auto;
  display:block;
  position:relative;
}
.history-tl-container ul.tl{
    margin:20px 0;
    padding:0;
    display:inline-block;

}
.history-tl-container ul.tl li{
    list-style: none;
    margin:auto;
    margin-left:10px;
    min-height:50px;
    /*background: rgba(255,255,0,0.1);*/
    border-left:1px dashed #86D6FF;
    padding:0 0 10px 30px;
    position:relative;
}
.history-tl-container ul.tl li:last-child{ border-left:0;}
.history-tl-container ul.tl li::before{
    position: absolute;
    left: -18px;
    top: -1px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: #258CC7;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;

}
.history-tl-container ul.tl li:hover::before{
    border-color:  #258CC7;
    transition: all 1000ms ease-in-out;
}
ul.tl li .item-title{
    font-size: 20px;
}
ul.tl li .item-detail{
    color:rgba(0,0,0,0.5);
    font-size:15px;
    margin-top: -2%;
}

@media screen and (max-width:500px){
    ul.tl li .item-detail{
        font-size: 150%;
    }
    ul.tl li .item-title{
        font-size: 150%;
    }
}

/* Ranking Table style */


main.table {
    width: 100vw;
    height: auto;
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;
}

.table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    overflow: overlay;
}




table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}



tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}



tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}


@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 10.1rem;
    }
}





